/* Table Styles for Services Page */
/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333333;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
nav {
    background-color: #267DCF;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Search Bar */
.search-container {
    text-align: center;
    margin: 20px;
}

#search-input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

/* Content */
.content {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Table Styles for Services and Errors Pages */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1.1em;
    text-align: left;
}

th, td {
    padding: 25px 25px;
    border-bottom: 1px solid #dddddd;
}

th {
    background-color: #267DCF;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
